<app-navbar></app-navbar>


<div class="container col-xxl-8 px-4 py-5">

  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6" *ngFor="let imagen of imagenes">
      <img [src]="imagen.link" class="card-img-top">
    </div>
    <div class="col-lg-6" *ngFor="let zapatilla of zapatillas">
      <p class="fs-2">{{zapatilla.nombre}}</p>
      <p class="fs-3">Envio Gratis</p>
      <p class="fs-3">${{zapatilla.precio}} </p>
      <p class="fs-3">

        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="talle">
           <option disabled selected value="undefined">Sleccionar un talle</option>
            <option [value]="talle.talle" *ngFor="let talle of talles ">{{talle.talle}} </option>         
        </select>

      </p>

      <p><button type="button" class="btn btn-outline-success" (click)="agregarCarrito(zapatilla)">Agregar al carrito</button></p>


      <div class="row flex-lg-row align-items-center g-5 py-5">
        <h3>DESCRIPCIÓN DEL PRODUCTO</h3>
        <ul class="list-group-border-color:white">
          <li class="list-group-item">{{zapatilla.descripcion}}</li>
        </ul>
        <h3>Especificaciones</h3>
        <ul class="list-group-border-color:white">
          <li class="list-group-item">Disciplina: {{zapatilla.tipo}}</li>
          <li class="list-group-item">Material: {{zapatilla.material}}</li>
        </ul>
    
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>